{% extends "base.html" %}
{% block main %}
<section class="signin">
  <h1>{{ app_name }}</h1>
  <p class="dim">A reading companion for qualitative material.</p>
  <form method="post" action="/login">
    <label>Account name<input name="name" autofocus required autocomplete="username"></label>
    <label>Password<input name="password" type="password" required autocomplete="current-password"></label>
    <button class="btn btn-primary">Sign in</button>
  </form>
  {% if problem %}<p class="problem">{{ problem }}</p>{% endif %}
  <p class="dim small">Accounts are made by an administrator. If you do not have one, ask whoever runs this instance.</p>
</section>
{% endblock %}
